mongodb:
    url: mongodb://localhost:27017/
    database: hatemap
    collection: case_study
analyzes:
    nlp: True
    tagme:
        enabled: False
        token: 7f5391f2-142e-4fd5-9cc9-56e91c4c9add-843339462
        is_tweet: True
        rho_value: 0.15
    sentiment_analyze:
        sent_it: False
        feel_it: False
    geocoding: False
    analyze_all_tweets: True


